body{
    margin: 0;
    padding: 0;
    background-color: #fef9f9;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 30px;
    height: 30px;
}

.logo img{
    height: 150px;
    width: auto;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: red;
}

.right{
    display: flex;
    align-items: center;
    gap: 15px;
}

#search{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

button{
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#log{
    background-color: black;
    color: white;
    border: 1px solid white;
}

#log:hover{
    background-color: white;
    color: black;
}

#reg{
    background-color: red;
    color: white;
    border: none;
}

#reg:hover{
    background-color: darkred;
} 
#id1{
    margin-left: 50px;
    
}
#id2{
    margin-left: 50px;
}
.sub-text{
    color: #000000;
    font-size: 17px;
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0 50px;
    padding: 20px;
    background-color: white;
    height: 90px;

}
.sec1,
.sec2{
    margin: 0;
    margin-left: 20px;
    
}

.sec select{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;

}

#but{
    margin: 28px 0 0 0;
    background-color: rgb(34,130,241);
    width: 120px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
}
table{
    width: 100%;
    margin-top: 30px;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0,0,0, .1);
}
table th{
    background: #ada7a4;
    color: white;
    font-size: large;
}
table th,td{
    border:1px solid#ddd;
    padding: 15px;
    text-align: center;
    color: black;
}
.vs{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.cars{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card{
    width: 650px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    background: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.card:hover{
    transform: translateY(-5px);
}
.card{
     transition: transform 0.3s ease;
}
.card img{
    width: 350px;
    height: 250px;
    object-fit: contain;
    flex-shrink: 0;
}

.car-info{
    flex: 1;
    text-align: left;
}

.card h2{
    font-size: 30px;
    margin: 0 0 10px 0;
}

.card p{
    margin: 12px 0;
    font-size: 17px;
    color: #333;
}

#price1,
#price2{
    color: #0056d2;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card button{
    margin-top: 15px;
    width: 160px;
    height: 45px;
    background: white;
    color: #0056d2;
    border: 2px solid #0056d2;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover{
    background: darkorange;
}


